/*clearing*/
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,/*em,*/font,img,ins,kbd,q,s,samp,small,strike,/*strong,*/sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,th,td {
    font-weight: normal;
    text-align: left;
}
/*clearing end*/

body {
    font-family: Calibri;
    font-size: 16px;

    position: relative;
    width: 100%;
    height: 100%;
}

input[type=checkbox] {
    position: relative;
    vertical-align: middle;
}
input[type=text] {
    width: 400px;
}

.main {
    position: relative;
    margin: 10px auto;
    width: 600px;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #e8e8e8;
}

.group {
    border-bottom: 1px solid #dedede;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.group:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.total {
    font-size: 80%;
}
.total span {
    font-size: 130%;
    display: inline-block;
    width: 210px;
}
.total span:last-of-type {
    width: auto;
}

.list {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.list td {
    box-sizing: border-box;
    padding-right: 5px;
}
.list td:last-child {padding-right:0;}
.list thead td {
    border-bottom: 1px solid gray;
}
.list td:last-child {text-align: right;}
.list tr td:nth-child(2n) {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scroll {
    max-height: 400px;
    overflow-y: auto;
}
.list thead tr td, .list tr:nth-child(2n) td {
    background-color: #d8d8d8;
}
.list tbody tr td:nth-child(2n) {
    cursor: pointer;
}
.list tbody tr td:nth-child(2n):hover {
    text-decoration: underline;
}
.list tr td:nth-child(3n) {
    width: 45px;
}